{% extends 'base.html' %}


{% block title %}
    <title>Flask: Home</title>
{% endblock title %}


{% block body %}
    
    <main role="main">
        <div class="jumbotron">
          <div class="col-sm-8 mx-auto">
            <h1>Welcome to Flask Blog</h1>
            <p>This Blog is just a demo made from Python's Microframework Flask.</p>
            <p>Go Visit our Website <a href="https://souravdutta018.pythonanywhere.com"> Sourav the Web Developer</a> To Check out more stuff beyond Flask</p>
            <p>
            <a class="btn btn-primary" href="/posts" role="button">View Posts &raquo;</a>
            </p>
          </div>
        </div>
      </main>
{% endblock body %}